/**
 * simple-image-slider
 * @author <ericwaidesign@gmail.com>
 */

.simpleImgCreator-image {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
}
  
.simpleImgCreator-opacity-1 {
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
  
.simpleImgCreator-opacity-0 {
    opacity: 0;
}

.simpleImgCreator-lowRes {
    z-index: 1;
}

.simpleImgCreator-highRes {
    z-index: 0;
}